.gradle/
build/
app/build/
*.apk
*.aab
*.dex
*.class

.idea/
.kotlin/
*.iml
.tubiao/
.trae/
.logs/
.icon/

.key/
local.properties
*.jks
*.keystore

.DS_Store
git推送命令.txt
build.log
com.github.heartratemonitor_compose.yml