.gradle/
build/
app/build/
*.apk
*.aab
*.dex
*.class
*.lnk

.idea/
.kotlin/
*.iml
.tubiao/
.trae/
.logs/
.icon/

local.properties

.DS_Store
git推送命令.txt
build.log
com.github.heartratemonitor_compose.yml
